h1 {
    font-family: 'Tapestry', cursive;
    font-size: 70px;
}

table {
    /*width: 100%; !* Ширина таблицы *!*/
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    border: 2px solid black;
}

tr :first-child {
    width: 0;
    white-space: nowrap;
}

td, th {
    padding: 5px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
}

th {
    border: 2px solid black;
    background: #90e3ee; /* Цвет фона */
}

.main {
    background: url(../images/fon_knizhnie_polki.jpg) no-repeat center;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-size: cover;
    position: relative;
}

.main {
    min-height: calc(100% - 20px);
}

/*html, body {*/
/*    height: 100%;*/
/*}*/

