h1 {
    font-family: 'Tapestry', cursive;
    font-size: 80px;
}

nav {
    font-style: revert;
    font-size: 40px;
}

table {
    background-color: #d6bef5;
}

.footer {

    background-color: #a4c9c9;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20px;
}
